@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

$fontMullish: 'Mulish';
$fontMontserat: 'Montserrat';
$orange500: #FF4D4F;
$green500: #52C41A;
$white500: #F8F8F8;
$white50: #FEFEFE;
$gray900: #151515;
$gray500: #333333;
$gray50: #EBEBEB;
$purple500: #6200EE;
$purple300: #9654F4;
$purple50: #EFE6FD;